.section-treatments {
  /* padding: 10rem 10rem; */
  padding: 5rem 0;
  /* height: 85vh; */
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  /* grid-template-rows: repeat(12, 1fr); */

  background-color: var(--white-color);
}

.box-title {
  height: 12vh;
  grid-column: 1 / -1;
  /* grid-row: span 2; */
  /* background-color: yellowgreen; */

  display: flex;
  justify-content: center;
  align-items: center;
}

.box-title h2 {
  font-size: var(--fs-title);
  font-weight: 500;
  color: var(--main-color);
}

.box-icon {
  /* border: 2px solid; */
  /* background-color: yellowgreen; */
}

.icon-up {
  height: 25vh;
  grid-column: span 3;
  /* grid-row: span 5; */

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin-bottom: 5rem;
  /* background-color: violet; */
}

.icon-down {
  height: 25vh;
  grid-column: span 2;
  /* grid-row: span 5; */
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;

  /* background-color: wheat; */
}

.icon-alineacion {
  align-items: flex-end;
  /* padding-right: 10rem; */
}

.icon-reconstruccion {
  align-items: flex-start;
  /* padding-left: 10rem; */
}

.icon-implantes {
  align-items: flex-end;
  /* padding-right: 10rem; */
}

.icon-estetica {
  align-items: flex-start;
  /* padding-left: 10rem; */
}

.box-icon .box-img-icon {
  position: relative;
  height: 50%;
  width: 60%;
  /* display: flex; */
  /* justify-content: flex-start; */
  /* background-color: yellowgreen; */
}

.title-treatment {
  padding-top: 0.5rem;
  font-size: var(--fs-mid-text);
  text-align: center;
  width: 60%;

  /* background-color: yellow; */
  /* border: 2px solid; */
}

/**************************/
/* BELOW 1344px /smaller desktops */
/**************************/
@media (max-width: 84em) {
}

/**************************/
/* BELOW 1200px /landscape tablets */
/**************************/
@media (max-width: 75em) {
}

/**************************/
/* BELOW 940px /  tablets */
/**************************/
@media (max-width: 59em) {
}

/**************************/
/* BELOW 700px /  smaller tablets */
/**************************/
@media (max-width: 44em) {
}

/**************************/
/* BELOW 544px /  phones */
/**************************/
@media (max-width: 34em) {
  .box-icon .box-img-icon {
    position: relative;
    height: 50%;
    width: 80%;
  }

  .title-treatment {
    padding-top: 0.5rem;
    font-size: var(--fs-mid-text);
    text-align: center;
    width: 90%;
  }
}

/**************************/
/* BELOW 375px /  phones */
/**************************/
@media (max-width: 23em) {
  .box-icon .box-img-icon {
    position: relative;
    height: 50%;
    width: 80%;
  }

  .title-treatment {
    padding-top: 0.5rem;
    font-size: var(--fs-mid-text);
    text-align: center;
    width: 100%;
  }
}
