.section-treatments-intro {
  /* padding: 2rem 0; */
  padding-top: 1rem;
  padding-bottom: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;

  /* background-color: aqua; */
}

.section-treatments-intro p {
  font-size: var(--fs-mid-text);
  width: 50%;
  text-align: center;
}

/**************************/
/* BELOW 1344px /smaller desktops */
/**************************/
@media (max-width: 84em) {
}

/**************************/
/* BELOW 1200px /landscape tablets */
/**************************/
@media (max-width: 75em) {
}

/**************************/
/* BELOW 940px /  tablets */
/**************************/
@media (max-width: 59em) {
  .section-treatments-intro p {
    font-size: var(--fs-mid-text);
    width: 80%;
  }
}

/**************************/
/* BELOW 700px /  smaller tablets */
/**************************/
@media (max-width: 44em) {
}

/**************************/
/* BELOW 544px /  phones */
/**************************/
@media (max-width: 34em) {
}

/**************************/
/* BELOW 375px /  phones */
/**************************/
@media (max-width: 23em) {
}
