.box-content {
  display: none;
  padding: 2rem 0;
  /* background-color: yellowgreen; */
  min-height: 72vh;
}

.box-content.active {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  /* background-color: yellowgreen; */
}

.box-content .box-img {
  position: relative;
  height: 400px;
  width: 70%;
}

.box-content .box-text {
  padding: 1rem 0;
  width: 70%;
  /* background-color: yellowgreen; */
}

.box-content .box-text h3 {
  font-size: var(--fs-big-text);
  font-weight: 600;
  color: var(--main-color);
}

.box-content .box-text p {
  font-size: var(--fs-mid-text);
}

.box-content .box-text .text2 {
  margin-top: 1rem;
}

/**************************/
/* BELOW 1344px /smaller desktops */
/**************************/
@media (max-width: 84em) {
}

/**************************/
/* BELOW 1200px /landscape tablets */
/**************************/
@media (max-width: 75em) {
}

/**************************/
/* BELOW 940px /  tablets */
/**************************/
@media (max-width: 59em) {
}

/**************************/
/* BELOW 700px /  smaller tablets */
/**************************/
@media (max-width: 44em) {
  .box-content .box-img {
    width: 100%;
  }
  .box-content .box-text {
    width: 100%;
  }
}

/**************************/
/* BELOW 544px /  phones */
/**************************/
@media (max-width: 34em) {
}

/**************************/
/* BELOW 375px /  phones */
/**************************/
@media (max-width: 23em) {
}
