.accordion-item {
  margin-bottom: 2rem;
}

.accordion-item .title-question {
  font-size: var(--fs-mid-text);
  font-weight: 500;
  padding: 0.5rem 0;
}

.accordion-item .text-question {
  font-size: var(--fs-mid-text);
}
