.section-advantages {
  margin: 5rem 0;
}

.section-advantages h2 {
  font-size: var(--fs-title);
  text-align: center;
  color: var(--main-color);
  margin: 1rem 0;
}

.box-advantages {
  padding: 0 5rem;
  display: flex;
  flex-wrap: wrap;
}
