.section-cta {
  height: 75vh;
  display: flex;
}

.box-text {
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.box-text.box-text--green {
  background-color: var(--main-color);
  color: var(--white-color);
}

.box-text.box-text--white {
  background-color: var(--white-color);
  color: var(--main-color);
}

.box-text p {
  width: 60%;
  margin-bottom: 4%;
  font-weight: 600;
  font-size: var(--fs-title);
  text-align: center;
}

.box-img {
  position: relative;
  width: 45%;
  height: 100%;
}

/**************************/
/* BELOW 1344px /smaller desktops */
/**************************/
@media (max-width: 84em) {
}

/**************************/
/* BELOW 1200px /landscape tablets */
/**************************/
@media (max-width: 75em) {
}

/**************************/
/* BELOW 940px /  tablets */
/**************************/
@media (max-width: 59em) {
}

/**************************/
/* BELOW 700px /  smaller tablets */
/**************************/
@media (max-width: 44em) {
}

/**************************/
/* BELOW 544px /  phones */
/**************************/
@media (max-width: 34em) {
  .section-cta {
    flex-direction: column-reverse;
    height: 80vh;
  }

  .box-img {
    width: 100%;
    height: 60%;
  }

  .box-text {
    width: 100%;
    height: 40%;
    padding: 1rem 0;
  }

  .box-text p {
    width: 80%;
    font-size: 3rem;
    padding-bottom: 1rem;
  }
}

/**************************/
/* BELOW 375px /  phones */
/**************************/
@media (max-width: 23em) {
}
