.section-logo {
  margin: 5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  /* background-color: yellowgreen; */
}

.box-img {
  position: relative;
  height: 150px;
  width: 50%;
}

.text {
  font-size: var(--fs-mid-text);
  width: 60%;

  text-align: center;
}
